img {
  max-width: 100%;
}

.app {
  max-width: 1500px;
  margin: 0 auto;
  min-width: 320px;
}

header {
  height: 111px;
}

.brand {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 25%;
}

.brand__logo {
  margin: 2em;
}

.headerMobile, .headerMobileList {
  display:none;
}

.headerList {
  display: inline-block;
  width: 70%;
  list-style: none;
  font-family: AleoRegular;
  text-align: right;
  vertical-align: middle;
  margin-left: auto;
  padding-left: 0px;
}

.headerList li {
  display: inline-block;
  margin: auto 4.53%;
}

@media (max-width: 640px) {
  .headerMobile {
    width: 70%;
    height: 100%;
    display: inline-block;
    font-family: AleoRegular;
    vertical-align: middle;
    margin-left: auto;
    padding-left: 0px;
    text-align: right;
  }

  .headerMobile img {
    height: 100%;
    text-align: right;
  }
  .headerList {
    display:none;
  }
}

@media (max-width: 1024px) {
  .headerList li {
    margin: auto 2%;
  }
}

.headerList li a{
  color: #000;
  text-decoration: none;
}

.thumbnail {
    display:inline-block;
    position:relative;
}

.thumbnail__text {
  display:inline-block;
  position:absolute;
  top: 45%;
  left: 23%;
  text-align: center;
}

.thumbnail__invitation {
  color:#fff;
  font-family: WCManoNegraBta;
  font-size: 6em;
  margin: 0px;
}

@media (max-width: 1024px) {
  .thumbnail__invitation {
    font-size: 2em;
  }
  .thumbnail__text {
    top: 36%;
    left: 20%;
  }
}

@media (max-width: 1280px) {
  .thumbnail__invitation {
    font-size: 3.6em;
  }
}

@media (max-width: 640px) {
  .thumbnail__invitation {
    font-size: 1.7em;
  }
  .thumbnail__text {
    top: 19%;
    left: 3%;
  }
}

.thumbnail__comment {
  color:#fff;
  font-family: AleoLight;
  font-size: 1.2em;
}

.content {
  padding: 0 13.3333%;
}

.content div {
  margin-bottom: 7%;
}

.menu {
  text-align: center;
}

.menu__thumb {
  width: 6em;
  height: 56px;
  padding-top: 15px;
  position: relative;
  background: #f34949;
  color: white;
  font-size: 1.1em;
  font-family: AleoRegular;
  text-align: center;
  margin: auto;
}

.menu__thumb:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
}

.menu__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.menu__list__item {
  width: 45.4545%;
  display: inline-block;
  margin: 2% 8% 2% 0px;
  background: url("../img/stripe.png");
}

@media (max-width: 640px) {
  .menu__list__item {
    width: 100%;
    display: inline-block;
  }
}

.menu__list__item:nth-child(even) {
  margin-right: 0px;
}

.menu__list__item__name {
  font-family: AleoRegular;
  display: inline-block;
  margin: 0px;
  padding: 0px 3em 0px 0px;
  float: left;
  background: #fff;
}

.menu__list__item__price {
  font-family: AleoRegular;
  float: right;
  width: 5em;
  background: #fff;
}

.menu__list__item__ingredients {
  margin: 1em 0px;
  font-family: AleoItalic;
  color: #b7b7b7;
  text-align: left;
}

@media (max-width: 1024px) {
  .menu__list__item__line {
    display: none;
  }
  .menu__list__item__name {
    padding: 0px;
  }
  .menu__list__item__price {
    width: 2.5em;
  }
}

.menu__select {
  width: 10%;
  height: 2em;
  -webkit-appearance: none;
  background-image: url('../img/select_arrow.png');
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
  color: #b7b7b7;
  font-family: AleoRegular;
  text-align: center;
  padding: 0 0.4em;
  margin: 5% auto;
}

@media (max-width: 640px) {
  .menu__select {
    width: 60%;
  }
}

.featured {}

.featured__header {
  display: block;
  background: url("../img/stripe.png");
  width: 50%;
}

.featured__header__name {
  width: 60%;
  font-size: 20px;
  font-family: AleoBold;
  text-transform: uppercase;
  background: #fff;
}

@media (max-width: 640px) {
  .featured__header {
    width: 100%;
  }

  .featured__header__name {
    width: 80%;
  }
}

.featured__gallery {}

.featured__gallery__item {
  display: inline-block;
  margin-right: 4.4%;
  width: 21%;
}

@media (max-width: 640px) {
  .featured__gallery__item {
    width: 100%;
  }
}

.featured__gallery__item:last-child {
  margin-right: 0%;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }

.gallery {
  font-size: 0em;
}

.gallery__header {
  display: block;
  background: url("../img/stripe.png");
  width: 50%;
}

.gallery__header__name {
  width: 50%;
  font-size: 20px;
  font-family: AleoBold;
  text-transform: uppercase;
  background: #fff;
}


@media (max-width: 640px) {
  .gallery__header {
    width: 100%;
  }

  .gallery__header__name {
    width: 50%;
  }
}

.gallery img {
  display: inline-block;
}

.gallery__main {
  display: inline-block;
  width: 33%;
}

.gallery__items {
  width: 66%;
  display: inline-block;
  padding: 0px;
}

@media (max-width: 640px) {
  .gallery__main, .gallery__items {
    width: 100%;
  }
}

.gallery__items img {
  width: 50%;
  height: 50%;
  margin: 0px;
}

footer {
  background-color: #3b3b3b;
  padding: 3% 13.3333%;
  vertical-align: top;
}

.footer__list {
  width: 20%;
  vertical-align: top;
  display: inline-block;
  list-style: none;
  color: #fff;
  font-family: AleoLight;
  margin: 0px 5% 0% 0%;
  padding: 0px;
}

.footer__list__item {
  margin: 1em 0px;
}

@media (max-width: 640px) {
  .footer__list {
    width: 43%;
  }
}

.footer__list__item:last-child, .footer__list__item:first-child {
  font-family: AleoRegular;
}

.footer__list__links .footer__list__item {
  margin: 1.3em;
}

.footer__list__item a {
  text-decoration: none;
  color: #fff;
  font-family: AleoRegular;
}

.footer__credits {
  width: 20%;
  vertical-align: top;
  display: inline-block;
}

.footer__credits p {
  color: #fff;
  font-family: AleoLight;
  font-size: 0.8em;
}

.footer__credits a {
  color: #fff;
  font-family: AleoRegular;
  font-size: 1.2em;
  text-decoration: none;
}



@media (max-width: 640px) {
  .footer__credits {
    width: 50%;
  }

  .footer__credits img {
    width: 100%;
  }
}



@font-face {
  font-family: AleoBold;
  src: url(fonts/Aleo-Bold.otf);
}

@font-face {
  font-family: AleoBoldItalic;
  src: url(fonts/Aleo-BoldItalic.otf);
}

@font-face {
  font-family: AleoItalic;
  src: url(fonts/Aleo-Italic.otf);
}

@font-face {
  font-family: AleoLight;
  src: url(fonts/Aleo-Light.otf);
}

@font-face {
  font-family: AleoLightItalic;
  src: url(fonts/Aleo-LightItalic.otf);
}

@font-face {
  font-family: AleoRegular;
  src: url(fonts/Aleo-Regular.otf);
}

@font-face {
  font-family: Bazar;
  src: url(fonts/Bazar.ttf);
}

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(fonts/glyphicons-halflings-regular.svg);
}

@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(fonts/glyphicons-halflings-regular.woff);
}

@font-face {
  font-family: WCManoNegraBoldBta;
  src: url(fonts/WCManoNegraBoldBta.otf);
}

@font-face {
  font-family: WCManoNegraBta;
  src: url(fonts/WCManoNegraBta.otf);
}

.visible {
  display: block;
  position: absolute;
  top: 18%;
  z-index: 100;
  background: #fff;
  width: 100%;
  list-style: none;
  text-align: left;
}

.visible li a{
  color: #000;
  text-decoration: none;
}

.visible li {
  font-size: 2em;
  margin: 1em;
  font-family: AleoRegular;
}